<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Artist-What every artist is looking for</title>
    <meta name="description" content="Free open source Tailwind CSS Store template">
    <meta name="keywords"
        content="tailwind,tailwindcss,tailwind css,css,starter template,free template,store template, shop layout, minimal, monochrome, minimalistic, theme, nordic">

    <!-- <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/output.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">


</head>

<body class="bg-white text-gray-600 work-sans leading-normal text-base tracking-normal">
    

    <!--Nav-->
    <nav id="header" class="w-full z-30 top-0 py-1 bg-orange-400">
        <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 px-6 py-3">

            <label for="menu-toggle" class="cursor-pointer md:hidden block">
                <svg class="fill-current text-gray-900" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                    viewBox="0 0 20 20">
                    <title>menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                </svg>
            </label>
            <input class="hidden" type="checkbox" id="menu-toggle" />

            <div class="hidden md:flex md:items-center md:w-auto w-full order-3 md:order-1" id="menu">
                <nav>
                    <ul class="md:flex items-center justify-between text-base text-white pt-4 md:pt-0">
                        <li><a class="inline-block no-underline hover:text-black hover:underline py-2 px-4"
                                href="#">Shop</a></li>
                        <li><a class="inline-block no-underline hover:text-black hover:underline py-2 px-4"
                                href="#">About</a></li>
                        <li><a class="inline-block no-underline hover:text-black hover:underline py-2 px-4"
                                href="#">Categories</a></li>
                    </ul>
                </nav>
            </div>

            <div class="order-1 md:order-2 mr-10">
                <a class="flex items-center tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-xl "
                    href="{{url_for('home_page')}}">
                    <svg class="fill-current text-gray-800 mr-2" xmlns="http://www.w3.org/2000/svg" width="24"
                        height="24" viewBox="0 0 24 24">
                        <path
                            d="M5,22h14c1.103,0,2-0.897,2-2V9c0-0.553-0.447-1-1-1h-3V7c0-2.757-2.243-5-5-5S7,4.243,7,7v1H4C3.447,8,3,8.447,3,9v11 C3,21.103,3.897,22,5,22z M9,7c0-1.654,1.346-3,3-3s3,1.346,3,3v1H9V7z M5,10h2v2h2v-2h6v2h2v-2h2l0.002,10H5V10z" />
                    </svg>
                    ARTIST
                </a>
            </div>

            <div class="order-2 md:order-3 flex items-center" id="nav-content">

                <a class="inline-block no-underline hover:text-black" href="#">
                    <svg class="fill-current hover:text-black" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <circle fill="none" cx="12" cy="7" r="3" />
                        <path
                            d="M12 2C9.243 2 7 4.243 7 7s2.243 5 5 5 5-2.243 5-5S14.757 2 12 2zM12 10c-1.654 0-3-1.346-3-3s1.346-3 3-3 3 1.346 3 3S13.654 10 12 10zM21 21v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h2v-1c0-2.757 2.243-5 5-5h4c2.757 0 5 2.243 5 5v1H21z" />
                    </svg>
                </a>
                {% if not current_user.is_authenticated %}
                <button class="bg-blue-500 text-white py-2 px-4 rounded-lg mr-5 ml-5 hover:bg-blue-600" id="signin-btn">Sign In</button>
                <button class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600" id="register-btn">Register</button>
                {% else %}
                <button class="bg-blue-500 text-white py-2 px-4 mr-5 ml-5 rounded-lg hover:bg-blue-600" id="logout-btn"><a href="{{url_for('logout')}}">Log Out</a></button>

                {% endif %}
                <a onclick="checkoutHandler(false)" class="pl-3 inline-block no-underline hover:text-black" href="#">
                  
                    <svg class="fill-current hover:text-black" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24">
                        <path
                            d="M21,7H7.462L5.91,3.586C5.748,3.229,5.392,3,5,3H2v2h2.356L9.09,15.414C9.252,15.771,9.608,16,10,16h8 c0.4,0,0.762-0.238,0.919-0.606l3-7c0.133-0.309,0.101-0.663-0.084-0.944C21.649,7.169,21.336,7,21,7z M17.341,14h-6.697L8.371,9 h11.112L17.341,14z" />
                        <circle cx="10.5" cy="18.5" r="1.5" />
                        <circle cx="17.5" cy="18.5" r="1.5" />
                    </svg>
                </a>

            </div>
        </div>
        
    </nav>
    <div id="signin-form" class="fixed z-50 top-0 left-0 h-screen w-screen flex items-center justify-center bg-opacity-75 hidden">
        <div class="relative bg-white p-6 rounded-lg">
          <form method="post">
            {{ loginform.hidden_tag() }}
            <div class="absolute top-0 right-0 m-4">
              <i class="fas fa-times text-gray-600 cursor-pointer"></i>
            </div>
            <h2 class="text-lg font-medium mb-4">Sign In</h2>
            <div class="mb-4">
              <label class="block text-gray-700 font-medium mb-2">Email</label>
              {{ loginform.email(class_='w-full border border-gray-400 p-2 rounded-lg') }}
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 font-medium mb-2">Password</label>
              {{ loginform.password(class_='w-full border border-gray-400 p-2 rounded-lg') }}
            </div>
            <button class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600">{{ loginform.submit() }}</button>
          </form>
        </div>
      </div>
      
      <div id="register-form" class="fixed z-50 top-0 left-0 h-screen w-screen flex items-center justify-center bg-opacity-75 hidden">
        <div class="relative bg-white p-6 rounded-lg">
          <form method="post">
            {{ registerform.hidden_tag() }}
            <div class="absolute top-0 right-0 m-4">
              <i class="fas fa-times text-gray-600 cursor-pointer"></i>
            </div>
            <h2 class="text-lg font-medium mb-4">Register</h2>
            <div class="mb-4">
              <label class="block text-gray-700 font-medium mb-2">First name</label>
              {{ registerform.first_name(class_='w-full border border-gray-400 p-2 rounded-lg') }}
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 font-medium mb-2">Last name</label>
              {{ registerform.last_name(class_='w-full border border-gray-400 p-2 rounded-lg') }}
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 font-medium mb-2">Email</label>
              {{ registerform.email(class_='w-full border border-gray-400 p-2 rounded-lg') }}
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 font-medium mb-2">Password</label>
              {{ registerform.password(class_='w-full border border-gray-400 p-2 rounded-lg') }}
            </div>
            <button class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600">{{ registerform.submit() }}</button>
          </form>
        </div>
      </div>
      
    <div class=" hidden w-full h-full z-50 bg-transparent dark:bg-gray-900 bg-opacity-90 top-0 overflow-y-auto overflow-x-hidden fixed sticky-0" id="chec-div">
        <div class="w-full absolute z-10 right-0 h-full overflow-x-hidden transform translate-x-0 transition ease-in-out duration-700" id="checkout">
            <div class="flex items-end lg:flex-row flex-col justify-end" id="cart">
                <div class="lg:w-1/2 md:w-8/12 w-full lg:px-8 lg:py-14 md:px-6 px-4 md:py-8 py-4 bg-white dark:bg-gray-800 overflow-y-hidden overflow-x-hidden h-auto" id="scroll">
                    <div class="flex items-center text-gray-500 hover:text-gray-600 dark:text-white cursor-pointer" onclick="checkoutHandler(false)">
                        <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/shopping-cart-1-svg1.svg" alt="previous"/>
                         <img class="dark:block hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/shopping-cart-1-svg1dark.svg" alt="previous"/>
                        <p class="text-sm pl-2 leading-none dark:hover:text-gray-200">Back</p>
                    </div>
                    <p class="lg:text-4xl text-3xl font-black leading-10 text-gray-800 dark:text-white pt-3">Cart</p>
                        {% for product in cart %}
                        {%if current_user.id == product.cart_owner%}
                    <div class="productsquare md:flex items-strech py-8 md:py-10 lg:py-8 border-t border-gray-50">
                        <div class="md:w-4/12 2xl:w-1/4 w-full">
                            <img src="{{product.img_url}}" alt="Black Leather Purse" class="h-full object-center object-cover md:block hidden" />
                            <img src="https://i.ibb.co/TTnzMTf/Rectangle-21.png" alt="Black Leather Purse" class="md:hidden w-full h-full object-center object-cover" />
                        </div>
                        <div class="md:pl-3 md:w-8/12 2xl:w-3/4 flex flex-col justify-center">
                            <p class="text-xs leading-3 text-gray-800 dark:text-white md:pt-0 pt-4">RF293</p>
                            <div class="flex items-center justify-between w-full">
                                <p class="text-base font-black leading-none text-gray-800 dark:text-white">{{product.item_name}}</p>
                                <select aria-label="Select quantity" class="py-2 px-1 border border-gray-200 mr-6 focus:outline-none dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-white">
                                    <option>01</option>
                                    <option>02</option>
                                    <option>03</option>
                                </select>
                            </div>
                            <p class="text-xs leading-3 text-gray-600 dark:text-white pt-2">Height: 10 inches</p>
                            <p class="text-xs leading-3 text-gray-600 dark:text-white py-4">Color: Black</p>
                            <p class="w-96 text-xs leading-3 text-gray-600 dark:text-white">Composition: 100% calf leather</p>
                            <div class="flex items-center justify-between pt-5">
                                <div class="flex itemms-center">
                                    <!-- <form action="/cart/item/{{ product.id }}" method="post">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="submit" value="Remove" class="text-xs leading-3 underline text-red-500 pl-5 cursor-pointer">
                                    </form>   -->    
                                    <button class="text-xs leading-3 underline text-red-500 pl-5 cursor-pointer" onclick="removeItem({{product.id}})">Remove</button>
                                                          </div>
                                <p class="text-base font-black leading-none text-gray-800 dark:text-white">${{product.price}}</p>
                            </div>
                        </div>
                    </div>
                    {%endif%}
                    {% endfor %}
                </div>
                <div class="lg:w-96 md:w-8/12 w-full bg-gray-100 dark:bg-gray-900 h-full">
                    <div class="flex flex-col lg:h-screen h-auto lg:px-8 md:px-7 px-4 lg:py-20 md:py-10 py-6 justify-between overflow-y-auto">
                        <div>
                            <p class="lg:text-4xl text-3xl font-black leading-9 text-gray-800 dark:text-white">Summary</p>
                            <div class="flex items-center justify-between pt-16">
                                <p class="text-base leading-none text-gray-800 dark:text-white">Subtotal</p>
                                <p class="text-base leading-none text-gray-800 dark:text-white">${{total}}</p>
                            </div>
                            <div class="flex items-center justify-between pt-5">
                                <p class="text-base leading-none text-gray-800 dark:text-white">Shipping</p>
                                <p class="text-base leading-none text-gray-800 dark:text-white">${{shipping}}</p>
                            </div>
                            <div class="flex items-center justify-between pt-5">
                                <p class="text-base leading-none text-gray-800 dark:text-white">Tax</p>
                                <p class="text-base leading-none text-gray-800 dark:text-white">${{tax}}</p>
                            </div>
                        </div>
                        <div>
                            <div class="flex items-center pb-6 justify-between lg:pt-5 pt-20">
                                <p class="text-2xl leading-normal text-gray-800 dark:text-white">Total</p>
                                <p class="text-2xl font-bold leading-normal text-right text-gray-800 dark:text-white">${{ (total + tax + shipping) | round(2) }}</p>

                            </div>
                            <button id="checkoutBtn" class="text-base leading-none w-full py-5 bg-gray-800 border-gray-800 border focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 text-white dark:hover:bg-gray-700">Checkout</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <style>
            /* width */
            #scroll::-webkit-scrollbar {
                width: 1px;
            }
  
            /* Track */
            #scroll::-webkit-scrollbar-track {
                background: #f1f1f1;
            }
  
            /* Handle */
            #scroll::-webkit-scrollbar-thumb {
                background: rgb(133, 132, 132);
            }
        </style>
    </div>
    
    
